[submodule "API-2024.1-Front-End"]
	path = API-2024.1-Front-End
	url = https://github.com/Equipe-CodeLand/API-2024.1-Front-End.git
[submodule "API-2024.1-Back-End"]
	path = API-2024.1-Back-End
	url = https://github.com/Equipe-CodeLand/API-2024.1-Back-End.git
